<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkKolVl7mBDoD_wLmzqRQEaShOBQ7uiBE</string>
	<key>GCM_SENDER_ID</key>
	<string>920376783702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pet-id-iOS</string>
	<key>PROJECT_ID</key>
	<string>pet-id-424110</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-id-424110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920376783702:ios:6fb0c4ad9820264d46dcf7</string>
</dict>
</plist>