<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>kakaoLogin</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>kakaoe73834f33dc8405c99f414788b9b1b23</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>kakaoe73834f33dc8405c99f414788b9b1b23-oauth</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>naverLogin</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.pet-id-iOS</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>googleLogin</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.920376783702-qmammpi3q83ukhht44ovu8r65j98tod9</string>
                </array>
            </dict>
        </array>
        <key>GIDClientID</key>
        <string>920376783702-qmammpi3q83ukhht44ovu8r65j98tod9.apps.googleusercontent.com</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>kakaolink</string>
            <string>kakaokompassauth</string>
        </array>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>NSCameraUsageDescription</key>
        <string>이 앱은 반려동물 사진 촬영을 위해 카메라를 사용합니다.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>이 앱은 촬영된 사진을 저장하거나 불러오기 위해 사진 앨범에 접근합니다.</string>
        <key>UIAppFonts</key>
        <array>
            <string>NotoSansKR-SemiBold.ttf</string>
            <string>NotoSansKR-Medium.ttf</string>
            <string>NotoSansKR-Regular.ttf</string>
            <string>NotoSansKR-Bold.ttf</string>
        </array>
        <key>UIBackgroundModes</key>
        <array>
            <string>remote-notification</string>
        </array>
    </dict>
</plist>
